# Gradle files
.gradle/
build/
**/build/

# Local configuration
local.properties

# Android Studio
.idea/
*.iml

# Logs and temp
*.log
*.tmp
*.swp

# APKs / outputs
*.apk
*.aab
*.ap_

# Cache
.cxx/
captures/
outputs/
android-tools.zip
